/* GLOBAL */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
::after,
::before{
  box-sizing: inherit;
}

*:focus{
  outline: 2px dashed #1e90ff;
  outline-offset: 2px;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  background-color: #222;
  color: #222222;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* GLOBAL-WRAPPER */
.global-wrapper{
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-nature.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  /* background-position: center bottom; */
  width: 100%;
  max-width: 600px;

}
.hero-content {
  max-width: 285px;
  padding: 20px;
}
.hero-heading{
  width: 285px;
  font-family:"Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #fff;
}
.hero-link {
  display: inline-block;
  font-family:"Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1e90ff;
  color:#fff;
}

.hero-link:hover{
  opacity: 0.8;
}
.hero-link:active{
  opacity: 0.6;
}
.hero-link-inner{
  display: flex;
  padding: 12px 24px;
}

.hero-link-inner::before {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url(..//img/icon-star.svg);
  background-repeat: no-repeat;
  background-size: contain ;
  background-position: center center;
  content: "";
}

/* RETENA BG */



/* Latest Vedios */

.latest-vedios {
  width: 100%;
  max-width: 600px;
  padding: 54px;
  background-color: #fff;
}
.lastest-vedio-heading{
  margin-top: 0;
  margin-bottom: 24px;
  font-family:"Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.latest-vedio-devider {
  width: 492px;
  border: 1px solid #999999;
  margin-bottom: 24px;
}
.latest-vedios-list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.item-latest-vedios{
  display: flex;
}
.item-latest-vedios:not(:last-child) {
  margin: 0;
  margin-bottom: 10px;
}
.item-latest-vedios-img {
  width: 160px;
  height: 90px;
  /* margin-right: 16px; */
  border-radius: 4px;
  object-fit: cover;
}
.item-latest-vedios-content {
  padding: 16px;
}
.item-latest-vedios-heading{
  margin: 0;
  margin-bottom: 4px;
  font-family:"Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
.item-latest-vedios-link{
  display: inline-block;
  color :#222;
  text-decoration: none;
}
.item-latest-vedios-link:hover{
  color: #1e90ff;
}
.item-latest-vedios-link:active{
  color: rgba(30, 144, 255, 0.6);
}
.item-latest-vedios-meta {
  display: flex;
  align-items: center;
  color: #888;
}

.item-latest-vedios-meta-item{
  display: flex;
  align-items:center;
}
.item-latest-vedios-meta-item:not(:last-child){
  margin-right: 24px;
}

.item-latest-vedios-meta-item::before{
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
  background-size: contain;
  background-position: center center;
  content: "";
}

.item-latest-vedios-meta-item-published-at::before{
  background-image:url(../img/icon-clock.svg)
}

.item-latest-vedios-meta-item-views::before{
  background-image:url(../img/icon-eye.svg)
}

.load-more-button{
  display: block;
  padding: 12px;
  width: 492px;
  background-color: #1e90ff;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
}

.load-more-button:hover{
  opacity: 0.8;
}

.load-more-button:active{
  opacity: 0.6;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero{
    background-image: url(../img/bg-nature@2x.jpg);
  }
}